<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../css/cssMain.css" rel="stylesheet" media="screen">

</head>
<body>

<!-- FB Stuff -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '579845202048952',                    // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Other Stuff -->

<div class="container-fluid">
    <div class = "navbar">
        <div class="navbar-inner">
            <a class="brand" href="/"><img src="../img/modmaven.png"/></a>
            <ul class="nav pull-right" style="top: 22px">
                <li><a href="#">
                    <button onclick="FB.login()" class="btn-custom">
                        <div style="font-size: 20px; padding: 5px 0;">Login with Facebook</div>
                    </button>
                </a></li>
            </ul>
        </div>
    </div>
    <div id="main-body" class="container-fluid">
        {% block main_content %}{% endblock %}
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>
