{% extends "base.html" %}
{% block meta %}<meta name="Description"
          content="NUS ModMaven is a module visualization tool for NUS modules, with social integration. ModMaven can graph prerequisites as a tree, unlike any other alternative."/>
{% endblock %}
{% block title %}NUS ModMaven{% endblock %}
{% block main_content %}
    <div class="row-fluid">
        <div id="search-area" class="span12">
            <div class="row-fluid">
                <div style="font-size: 27px; padding: 20px 0 15px; text-align: center">Search For Modules</div>
            </div>
            <div class="row-fluid">
                <form id="main-form" class="form-search span12">
                    <div class="input-append span12 centered" style="position: relative">
                        <input autofocus name="modName" id="modName" type="text" class="span3 search-query"
                               style="border-bottom-left-radius: 7px; border-top-left-radius: 7px;" autocomplete="off" spellcheck="off" placeholder="Enter module code...">
                        <button type="submit" class="btn"
                                style="border-bottom-right-radius: 7px; border-top-right-radius: 7px;">Search
                        </button>
                        <img src="../img/ajax-loader.gif" id="loading-gif" style="width: 22px; position: absolute; top: 5px; margin-left: 5px; visibility: hidden;">
                    </div>
                </form>
            </div>
            <div class="row-fluid">
                <div id="errormessage" class="span12 text-error centered"
                     style="margin-top: -15px; margin-bottom: 15px;">
                    {{ NotFoundError }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block tree %}
<div id="Tree" style="padding-left: 30px; padding-right: 30px;">
    {% include 'modal.html' %}
</div>
{% endblock %}
{% block js %}
    <script src="/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript">
        $.getJSON('/modlist', function(data){
            $('#modName').autocomplete({"lookup": data, "maxHeight": 100, "onHint": function (hint) {}});
        });
    </script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/js/tree.js"></script>
    <script src="/js/mainForm.js"></script>
{% endblock %}
