<!DOCTYPE html>
<html lang="en">
<head>
    <title>ModMaven</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/cssMain.css" rel="stylesheet" media="screen">
</head>
<body>

<!-- FB Stuff -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '579845202048952',                    // App ID from the app dashboard
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Other Stuff -->

<div class="container">
    <div class = "navbar">
        <div class="navbar-inner">
            <a class="brand" href=""><img src="../img/modmaven.png"/></a>
            <ul class="nav pull-right" style="top: 25px">
                <li><a href="#"><button onclick="FB.login()" class="btn-custom"><p style="font-size: 20px; padding-top: 5px; padding-bottom: 5px;">Login with Facebook</p></button></a></li>
            </ul>
        </div>
    </div>
    <div id="main-body" class="container" style="padding-top: 40px; padding-left: 40px;">
        <div class="row">
            <div id="search-sidebar" class="container span3">
                <form id = "modsearch" class="navbar-search" action="/modpage" method ="post">
                    <label style="font-size: 25px; padding-left: 3px;">Search For Modules</label>

                    <input name="modName" type="text" class="search-query" style="border-radius: 5px !important; line-height: 2;"placeholder="Insert Module Code..">
                </form>
            </div>
        </div>
    </div>
    <div id = "pagedata" class = "text-center">
        <div id = "data" class = "row">
            <p class = "text-error">{{NotFoundError}}</p>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>
