<div style="display: none;" id="zoom-btns" class="btn-group btn-group-vertical">
    <div class="btn btn-large btn-inverse" id="zoom-in"><div style="position: relative; right: 10px; font-size: 50px; color: #ffffff">+</div></div>
    <div class="btn btn-large btn-inverse" id="zoom-out" style="position: relative; top:10px;"><div style="font-size: 50px; color: #ffffff; position: relative; bottom: 25px; right: 9px;">_</div></div>
</div>
<div id="legend" class="pull-right" style="display: none">
    <div class="key">
        <strong>Key</strong>
        <br>
        <br>
        <div style="color: #000000; border-radius: 13px; background-color: steelblue; height: 22px; font-size: 20px; overflow: hidden; padding: 5px;">
            Normal
        </div>
        <br>
        <div style="color: #000000; border-radius: 13px; background-color: red; height: 22px; font-size: 20px; overflow: hidden; padding: 5px;">
            Completed
        </div>
        <br>
        <div style="color: #000000; border-radius: 13px; background-color: yellow; height: 22px; font-size: 20px; overflow: hidden; padding: 5px;">
            Precluded
        </div>
    </div>
</div>
<a href="#myModal" data-toggle="modal"></a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <a id="mod-link" href="#" style="text-decoration: none; color: #333;">
            <h3 id="myModalLabel"></h3>
        </a>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="progress progress-info progress-striped active"
         style="height: 30px;" id="loading-bar">
        <div class="bar" style="width: 100%"></div>
    </div>

    <div class="modal-footer" style="line-height: 0">
        <a class="pull-right" id="knowmore" href="#" style="text-decoration: none">Know more...</a>
    </div>
</div>
