<a href="#myModal" data-toggle="modal"></a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <a id="mod-link" href="#" style="text-decoration: none; color: #333;">
            <h3 id="myModalLabel"></h3>
        </a>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="progress progress-info progress-striped active"
         style="height: 30px;" id="loading-bar">
        <div class="bar" style="width: 100%"></div>
    </div>

    <div class="modal-footer" style="line-height: 0">
        <a class="pull-right" id="knowmore" href="#" style="text-decoration: none">Know more...</a>
    </div>
</div>
