<!DOCTYPE html>
<html lang="en">
<head>
    <title>ModMaven</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../css/cssMain.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '579845202048952',                        // App ID from the app dashboard
            //channelUrl : '//localhost/channel.html',              // Channel file for x-domain comms
            status     : true,                                 // Check Facebook Login status
            xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
    };

    // Load the SDK asynchronously
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "http://connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href=""><img src="../img/modmaven.png"/></a>
        <ul class="nav pull-right" style="top: 31px">
            <li><a href="#" onclick="FB.login()"><h4>Login with Facebook</h4></a></li>
        </ul>
    </div>
</div>
<div id = "main-body" class="container-fluid">
    <div class="row-fluid">
        <div id="search-sidebar" class="span2">
            <form id = "modsearch" class="navbar-search pull-left" action="/modpage" method="post">
                <input name="modName" type="text" class="search-query" placeholder="Insert Module Code">
            </form>
        </div>
        <div class="span10 color-head">
            <h3>{{modName}}</h3>
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">Information</a>
                </li>
                <li><a href="#">Tree</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Discussion</a></li>
            </ul>
        </div>
    </div>
</div>
<div id = "pagedata" class = "text-center">
    <div id = "data" class = "row">
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
