{% extends "base.html" %}
{% block title %}{{ modName }}-{{modTitle}}{% endblock %}
{% block main_content %}
    <div class="row-fluid">
        <div class="span12 color-head">
            <h3>{{modName}}</h3>
            <div id="Tabs">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#Info" data-toggle="pill">Information</a></li>
                    <li><a href="#Tree" data-toggle="pill">Tree</a></li>
                    <li><a href="#Stats" data-toggle="pill">Statistics</a></li>
                    <li><a href="#Disc" data-toggle="pill">Discussion</a></li>
                </ul>
                <div class="pill-content">
                    <div id="Info" class="pill-pane active">
                        <h4>{{modTitle}}</h4>
                        <p class="lead">{{modDesc}}</p>
                    </div>
                    <div id="Tree" class="pill-pane">
                        <p>TreeTabContent</p>
                    </div>
                    <div id="Stats" class="pill-pane">
                        <p>StatsTabContent</p>
                    </div>
                    <div id="Disc" class="pill-pane">
                        <p>DiscTabContent</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
