{% extends "base.html" %}
{% block title %}{{ modName }} - {{modTitle}}{% endblock %}
{% block meta %}
    <meta property="og:type" content="modmaven:module"/>
    <meta property="og:url" content="/modpage?modName={{ modName }}"/>
    <meta property="og:title" content="{{ modName }} - {{ modTitle }}"/>
    <meta property="og:image" content="https://fbstatic-a.akamaihd.net/images/devsite/attachment_blank.png"/>
    <meta property="og:description" content="{{ modDesc }}"/>
{% endblock %}
{% block main_content %}
    <div class="row-fluid">
        <div class="span2 color-head">
            <h3>{{ modName }}</h3>
        </div>
        <div class="span2 pull-right">
            <button class="btn btn-small btn-success" style=" margin: 15px 0 10px 0;"onclick="postify()">Show Interest</button>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
        <hr class="color-head" style="margin-top: 5px; margin-bottom: 20px; border-color: #777777">
            </div>
    </div>
    <div class="row-fluid">
        <div id="pills-container">
            <ul class="nav nav-pills" id="pills">
                <li class="active"><a href="#Info" data-toggle="pill">Information</a></li>
                <li><a href="#Tree" data-toggle="pill">Tree</a></li>
                <li><a href="#Stats" data-toggle="pill">Statistics</a></li>
                <li><a href="#Disc" data-toggle="pill">Discussion</a></li>
            </ul>
            <div class="pill-content">
                <div id="Info" class="pill-pane active">
                    <h4>{{modTitle}}</h4>
                    <p class="lead">{{modDesc}}</p>
                </div>
                <div id="Tree" class="pill-pane">
                    <a href="#myModal" data-toggle="modal"></a>

                    <!-- Modal -->
                    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <a id="mod-link" href="#" style="text-decoration: none; color: #333;">
                                <h3 id="myModalLabel"></h3>
                            </a>
                        </div>
                        <div class="modal-body">
                            <p></p>
                        </div>
                        <!--
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary">Save changes</button>
                        </div>
                        -->
                    </div>
                </div>
                <div id="Stats" class="pill-pane">
                    <p>StatsTabContent</p>
                </div>
                <div id="Disc" class="pill-pane">
                    <p>DiscTabContent</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="../js/tree.js"></script>
    <script type="text/javascript">
        var modName = "{{modName}}";
        $(document).ready(function () {
            $('a[data-toggle="pill"]').on('shown', function (e) {
                if (e.target.innerText === "Tree" && e.relatedTarget.innerText !== "Tree") {
                    $.getJSON('/gettree?modName=' + modName, function (data) {
                        drawTree(modName, data);
                    });
                }
            });
        });
    </script>
{% endblock %}
