<div id="stats-loading-bar" class="row-fluid">
    <div class="offset3 span6">
        <div class="progress progress-info progress-striped active" style="height: 30px; position: relative; top: 100px;" id="loading-bar">
            <div class="bar" style="width: 100%"></div>
        </div>
    </div>
</div>
<h5 id="stats-login" style="display: none">Login Required</h5>
<div id="stats-content" style="display: none">
    <div class="row-fluid">
        <h4>Friends who Considered this Module</h4>
        <hr class="stats-hr">
    </div>
    <div id="frnds-considered" style="margin-left: 3px">
    </div>
    <br>
    <div class="row-fluid">
        <h4>Friends who Completed this Module</h4>
        <hr class="stats-hr">
    </div>
    <div id="frnds-completed" style="margin-left: 3px">
    </div>
    <br>
    <div class="row-fluid">
        <h4>Total Users that Considered this Module</h4>
        <hr class="stats-hr">
    </div>
    <div class="row-fluid" style="margin-left: 3px">
        <div class="span12">
            <h5 id="total-users"></h5>
        </div>
    </div>
</div>
