html, body {
    background-image: url("../img/natural_paper.png") !important;
}
html {
    overflow-y: scroll;
}
body {
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 728px;
}

.container-fluid {
    max-width: 940px;
    min-width: 728px;
    margin: 0 auto;
}

.centered {
    text-align: center
}
.color-head {
    color: #777
}

/* Hide the Bootstrap Navbar */
.navbar-inner {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-inverse .nav .active > a {
    background: 0 !important;
    color: #333 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-inverse .nav > li > a {
    color: #333 !important;
    text-shadow: none !important;
}

.navbar-inverse .nav > li > a:hover {
    color: #333 !important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: white none;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background: transparent;

}
.nav-pills > li > a:hover, .navbar > li > a:focus {
    background-color: #ffbcb1;
}
.nav>li>a:focus {
    color: #777 !important;
}
.nav>li>a:hover {
    color: #333333 !important;
}
a.dropdown-toggle{outline: none}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 15px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.node {
    cursor: pointer;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.key {
    z-index: 99;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    opacity: 0.3;
    -webkit-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -moz-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -o-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -ms-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    color: #ffffff;
    background-color: #1c1c1c;
    border-radius: 13px;
    padding: 12px 12px 15px 12px;
    position: absolute;
    margin-top: 20px;
    margin-left: -90px;
    font-size: 25px;
    width: 45px;
    height: 20px;
    overflow: hidden;
}

.key:hover{
    -webkit-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -moz-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -o-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    -ms-transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    transition: width 0.5s, height 0.5s, margin-left 0.5s !important;
    opacity: 1 !important;
    width: 120px;
    height: 175px;
    margin-left: -165px;
}

#zoom-btns {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 99;
    width: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#zoom-in, #zoom-out{
    opacity: 0.3;
    -webkit-transition: opacity 0.5s !important;
    -moz-transition: opacity 0.5s !important;
    -o-transition: opacity 0.5s !important;
    -ms-transition: opacity 0.5s !important;
    transition: opacity 0.5s !important;
}
#zoom-in:hover, #zoom-out:hover {
    -webkit-transition: opacity 0.5s !important;
    -moz-transition: opacity 0.5s !important;
    -o-transition: opacity 0.5s !important;
    -ms-transition: opacity 0.5s !important;
    transition: opacity 0.5s !important;
    opacity: 1 !important;
    z-index: 99 !important;
}

.stats-hr{
    border-color: rgba(162, 162, 162, 0.31) !important;
    margin: 0 5px 20px !important;
}
