html, body {
    background-image: url("../img/natural_paper.png") !important;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-fluid {
    max-width: 940px;
    min-width: 728px;
    margin: 0 auto;
}

.centered {
    text-align: center
}
.color-head {
    color: #777
}

/* Hide the Bootstrap Navbar */
.navbar-inner {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-inverse .nav .active > a {
    background: 0 !important;
    color: #333 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.navbar-inverse .nav > li > a {
    color: #333 !important;
    text-shadow: none !important;
}

.navbar-inverse .nav > li > a:hover {
    color: #333 !important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background: white none;
}
.navbar .nav li.dropdown.open>.dropdown-toggle,
.navbar .nav li.dropdown.active>.dropdown-toggle,
.navbar .nav li.dropdown.open.active>.dropdown-toggle {
    background: transparent;

}
.nav-pills > li > a:hover, .navbar > li > a:focus {
    background-color: #ffbcb1;
}
.nav>li>a:focus {
    color: #777 !important;
}
.nav>li>a:hover {
    color: #333333 !important;
}
a.dropdown-toggle{outline: none}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 15px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.node {
    cursor: pointer;
}
